<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a href="/">
                <img src="../src/images/Logo.png" width="89" height="21" alt="logo">
            </a>
           <ul class="header__nav-menu">
                <li class="header__nav-item"><a href="">Pricing</a></li>
                <li class="header__nav-item"><a href="">Use Cases</a></li>
                <li class="header__nav-item"><a href="">Book a Demo</a></li>
           </ul>
           <div class="header__nav-reg">
                <button class="header__nav-btn">Sing In</button>
                <a href="#popup" class="btn btn-primary" type="submit">Contact sales</a>
           </div>
            <div class="header__nav-burger">
                <img src="../src/images/burger.svg" width="22" height="10" alt="burger">
            </div>
        </nav>
    </div>
</header>