<section class="hero">
    <div class="hero__content">
        <div class="hero__main">
            <div class="hero__main-txt">
                <h1 class="hero__title">
                    How to do a Website Audit to Improve SEO & Conversions
                </h1>
                <p class="hero__main-info">Usability auditing with the Plerdy tool is a comprehensive expert assessment of your website based on a profound study of user behavior registered on it. Plerdy will provide you with crucial data based on which you will be able to run an efficient usability audit of your website, identify and fix SEO issues, and subsequently lead it to higher positions in search.</p>
                <p class="hero__aditional-info">Thus, you'll compile a list of flaws in your website interface, navigation, and conversion path that can eventually affect its micro and macro conversion rates.</p>
            </div>
            <a href="#popup" type="button" class="btn btn-primary btn-lg">Run the Plerdy tool</a>
            <p class="hero__txt">Trusted by some of the world's largest enterprises</p>
            <div class="hero__items">
                <img class="hero__item" src="../src/images/Mask.png" width="90" height="17" loading="lazy" alt="softserve">
                <img class="hero__item" src="../src/images/subaru.png" width="105" height="15" loading="lazy" alt="subaru">
                <img class="hero__item" src="../src/images/anex.png" width="85" height="14" loading="lazy" alt="anex">
                <img class="hero__item" src="../src/images/prom.png" width="68" height="18" loading="lazy" alt="prom">
                <img class="hero__item" src="../src/images/ukrposhta.png" width="79" height="21" loading="lazy" alt="ukrposhta">
            </div>
        </div>
        <div class="hero__img">
            <img class="hero__img-main" src="../src/images/main-picture.png" width="370" height="442"  alt="">
            <div class="hero__border-first">
                <img class="hero__img-first" src="../src/images/111.png" width="190" height="151" alt="">
            </div>
            <div class="hero__border-second">
                <img class="hero__img-second" src="../src/images/222.png" width="165" height="90" alt="">
            </div>
            <div class="hero__border-third">
                <img class="hero__img-third" src="../src/images/33.png" width="165" height="90" alt="">
            </div>
        </div>
    </div>
</section>