 <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__img"><img src="../src/images/popup-picture.jpg" width="400" height="550" alt="picture"></div>
            <div class="popup__content">
                <a href="#" class="popup__close">
                    <img class="popup__close-img" src="../src/images/close.svg" alt="close">
                </a>
                <div class="popup__main-content">
                    <div class="popup__title">How to do a Website Audit to Improve SEO & Conversions</div>
                    <div class="popup__txt">You will get an SMS with a link to the webinar</div>
                    <div class="popup__form">
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Boris Jonson" required>
                                <div class="invalid-feedback">
                                    Error. Please enter a username.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom04" class="form-label">Lable</label>
                                <div class="tel-input">
                                    <div class="wrapper">
                                    <div class="select_wrap">
                                        <ul class="default_option">
                                            <li>
                                                <div class="option">
                                                    <div class="icon"><img src="../src/images/Flag.svg" /></div>
                                                    <p>+380</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="select_ul">
                                            <li>
                                                <div class="option">
                                                    <div class="icon"><img src="../src/images/Flag.svg" /></div>
                                                    <p>+380</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="option">
                                                    <div class="icon"><img src="../src/images/united-kingdom.svg" /></div>
                                                    <p>+126</p>
                                                </div>  
                                            </li>
                                            <li>
                                                <div class="option">
                                                    <div class="icon"><img src="../src/images/portugal.svg" /></div>
                                                    <p>+351</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <input class="tel-number" type="text" name="" id="" placeholder="XX XXX XXXX">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Support</button>
                                <button class="btn btn-primary" type="submit">Contact sales</button>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        By sending up? you agree to our <a href="">Conditions</a> and <a href="">Privacy Policy</a> 
                                    </label>
                                    <div class="invalid-feedback">
                                    You must accept before sending.
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="popup__bottom">
                            <img src="../src/images/popup-logo.svg" alt="popup-logo">
                            <span class="popup__bottom-txt">Powered by <a href=""> Plerdy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>